h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.MainNavBar{
  overflow:hidden;
  width: 100%;
  height: 110%;
}
.MainNavBar.Light{
  background-color: #777;
}
.MainNavBar.Dark{
  background-color: #222;
}

.MainNavBar a{
  font-family:Arial;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 18px 18px;
}

.MainNavBar.Light a{
  color: black;
}
.MainNavBar.Dark a{
  color: white;
}

.MainNavBar a.otherButton {
  float: right;
}
.MainNavBar a.homeButton {
  float: left;
}

.MainNavBar a:hover {
  background-color: #ddd;
  color: black;
  font-size: 17px;
}

.MainNavBar a:active {
  background-color: #b8761f;
  color: black;
  font-size: 17px;
}
.MainNavBar a:focus {
  background-color: #d38f37;
  color: black;
  font-size: 16px;
}







header.masthead {
  margin-bottom: 0px;
  background-color: #868e96;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size:auto;
  padding: 100px 0;
  text-align: center;
}

header.masthead .overlay {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 10%;
  cursor: pointer;
}

.site-heading {
  color:#131313;
  font-family:Arial;
}

.site-heading .subheading {
  font-size: 18px;
}



.maincontainer {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 100%;
}

.maincontainer.Dark{
  background-color: #323232;
  color: white;
}

.maincontainer.Light{
  background-color: #aaa;
  color: Black;
}

.myArticle {
  padding:50px;
  padding-left:15%;
  padding-right:15%;
}
.myArticle-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:Arial;
  font-weight:700
}
.subTitle {
  margin: 0 0 10px;
  font-family:Arial;
  font-weight:700
}

.mytext{
  font-family:lato,helvetica neue,Helvetica,Arial,sans-serif;
  font: weight 500
}




.myfooter{
  overflow:hidden;
  width: 100%;
  height: auto;
}

.myfooter.Dark{
  background-color: #222;
}

.myfooter.Light{
  background-color: #777;
}

.myfooter a{
  height: auto;
  padding: 18px 18px;
  text-decoration: none;
  text-align: center;

  font: Arial;
  font-weight: 500;
}

.myfooter.Dark a{
  color: #ddd;
}

.myfooter.Light a{
  color: Black;
}

.myfooter .left{
  float: left;
}

.myfooter .center{
  float: center;
}

.myfooter .right{
  float: right;
}





.onoffswitch {
  position: relative;
  width: 30px;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 10px; padding: 0; line-height: 10px;
  border: 0px solid #FFFFFF; border-radius: 30px;
  background-color: #9E9E9E;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 15px; margin: -5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 25px;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #444;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
  background-color: #2196F3; 
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}