h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.MainNavBar {
  overflow:hidden;
  background-color: #222;
  width: 100%;
  height: 110%;
}

.MainNavBar a{
  color: #f2f2f2;
  font-family:Arial;
  text-align: center;
  text-decoration: none;
  padding: 18px 18px;
  font-size: 15px;
}

.MainNavBar a.otherButton {
  float: right;
}

.MainNavBar a.homeButton {
  float: left;
}

.MainNavBar a:hover {
  background-color: #ddd;
  color: black;
  font-size: 17px;
}

.MainNavBar a:active {
  background-color: #b8761f;
  color: black;
  font-size: 17px;
}
.MainNavBar a:focus {
  background-color: #d38f37;
  color: black;
  font-size: 16px;
}


header.masthead {
  margin-bottom: 0px;
  background-color: #868e96;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size:auto;
  padding: 100px 0;
  text-align: center;
}

header.masthead .overlay {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 10%;
  cursor: pointer;
}

.site-heading {
  color:#131313;
  font-family:Arial;
}

.site-heading .subheading {
  font-size: 18px;
}



.maincontainer {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 100%;
}



.myArticle {
  padding:50px;
  padding-left:15%;
  padding-right:15%;
}
.myArticle-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:Arial;
  font-weight:700
}
.subTitle {
  margin: 0 0 10px;
  font-family:Arial;
  font-weight:700
}

.mytext{
  font-family:lato,helvetica neue,Helvetica,Arial,sans-serif;
  font-weight:100
}

.myfooter{
  overflow:hidden;
  background-color: #222;
  width: 100%;
  height: auto;
}

.myfooter a{
  height: auto;
  padding: 18px 18px;
  text-decoration: none;
  text-align: center;
  color: #ddd;
  font: Arial;
  font-weight: 500;
}
.myfooter .left{
  float: left;
}

.myfooter .center{
  float: center;
}

.myfooter .right{
  float: right;
}
